<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map" ion-fixed></div>
  <location-info [position]="position" [nearestWaypoint]="nearestWaypoint" [lastWaypointMoment]="lastWaypointMoment" ion-fixed></location-info>
</ion-content>
