<h2 *ngIf="nearestWaypoint">Nearby: {{ nearestWaypoint }}</h2>
<p *ngIf="position">Latitude: {{ position.coords.latitude }} </p>
<p *ngIf="position">Longitude: {{ position.coords.longitude }} </p>
<p *ngIf="position">Duration: {{ duration }} </p>

